section {
  position: absolute;
  top: 50%;
  left: 3%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}

section img {
  width: 70px;
  height: auto;
  max-width: 100%;
}

.row {
  display: inline-flex;
  justify-content: center;
  background-color: var(--main-color);
  height: 80px;
  width: 80px;
  border-radius: 50%;
  transition: 0.55s ease;
  cursor: pointer;
}

.row:nth-child(2) {
  background-color: #ff758d;
}

.row:nth-child(3) {
  background-color: #ffd06d;
}

.row:hover {
  transform: translateY(-8px);
}

@media (max-width: 920px) {
  section {
    position: relative;
    flex-direction: row;
    transform: translateY(60%);
    max-width: 90%;
    margin-bottom: 100px;
  }

  .row {
    height: 70px;
    width: 70px;
  }
}
